/* header */
header {
    background-color: #000A60;
    margin: 0px;
    height: 100px; 
    display: flex;
    align-items: flex-end;
}
header a {
}
header li {
    padding: 0 40px;
    color: white; 
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}
header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
header a:hover{
    font-size: 22px;
}
header h1 {
    display: flex;
    justify-content: flex-end;
    color: white;
}
/* home image */
.home-img {
    background-image: url("");
}

/* home featured section */
#featured h2 {
    text-align: center;
}
.featured-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.featured-portfolio img {
    border: 2px solid black;
    border-radius: 10px;
    width: 322px;
    margin: 30px;
}
.featured-portfolio p {
    text-align: center;
}
.featured-portfolio:hover {
    width: 324px;
}
/* footer */
footer {
    background-color: #000A60;
    height: 150px;
}