*, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
  }
  h1 {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  h2 {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
h3 {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
h4 {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

}
p {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* fonts */
 /* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 800
 <width>: Use a value from 75 to 100 */

.ubuntu-sans-thin {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 75;
}
.ubuntu-sans-thin-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    font-variation-settings:
      "wdth" 75;
  }
.ubuntu-sans-extralight {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 75;
  }
  .ubuntu-sans-extralight-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-variation-settings:
      "wdth" 75;
  }
  .ubuntu-sans-light {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 75;
  }
  .ubuntu-sans-light-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
      "wdth" 75;
  }
  .ubuntu-sans-regular {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-regular-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-medium {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-medium-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-semibold {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-semibold-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-bold {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-bold-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-extrabold {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .ubuntu-sans-extrabold-italic {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }



/* header */
header {
    background-color: #000A60;
    margin: 0px;
    height: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
header li {
    padding: 0 40px;
    color: white;
    text-decoration: underline;
    text-decoration-color: none;
    font-size: 20px;    
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
header a {
    color: inherit;
    display: inline-block;
}
header a:hover{
    transform: scale(1.1);
}
.page-header {
    align-items: flex-end;
   padding-right: 300px;
}
header h1 {
    color: white;
}


/* home image */
.home-img {
    background-image: url("images/cover-matte.jpg");
    background-size: cover;
    height: 700px;
    /* background-color: rgb(196, 196, 196);
    background-blend-mode: multiply; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.home-img h1 {
    font-size: 3rem;
    margin: 2px;
    text-align: center;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

}
.home-img h2 {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-variation-settings:
      "wdth" 75;
    font-size: 2rem;
    margin: 20px;
}
.home-img P {
    margin: 0;
}
/* home featured section */
#featured h1 {
    text-align: center;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.featured-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.featured-portfolio img {
    width: 322px;
    margin: 30px;
    margin-bottom: 0px;
}
.featured-portfolio p {
    color: grey;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
}
.featured-portfolio h2 {
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

}
.featured-portfolio a {
    text-decoration: none;
    color: black;
}
.featured-portfolio > div:hover {
    transform: scale(1.1);
}


/* about page */
.about-intro {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    background-image: url("images/dose-media-bU6JyhSI6zo-unsplash.jpg");
    background-size: cover;
    min-height: 300px;
    max-height: 500px;
}
.about-intro h2 {
    margin-top: 50px;
    margin-left: 400px;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 2rem;
}
.about-intro p {
    margin-left: 400px;
    line-height: 2rem;
}
.portrait {
    display: flex;
    justify-content: center;
}
.portrait img {
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin: 50px;
    border: black solid;
    aspect-ratio: 1;
}
.skills ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.skills li {
    margin-right: 50px;   
    margin-bottom: 20px; 
}
.skills img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.contact {
    margin-bottom: 100px;
}
.contact .email {
    margin-left: 50px;
}
.contact .linkedin {
    margin-left: 50px;
}



/* portfolio page */
.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.portfolio img {
    width: 322px;
    margin: 30px;
    margin-bottom: 0px;
}
.portfolio p {
    color: grey;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
}
.portfolio h2 {
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.portfolio > div:hover {
    transform: scale(1.1);
}
.portfolio a {
    text-decoration: none;
    color: black;
}



/* portfolio-pages */
.header {
    text-align: center;
}
.info-body{
    margin-left: 400px;
    margin-right: 400px;
}


/* portfolio-bizarro-branding */
.bizarro-intro {
    display: flex;
    flex-direction: row;
}
.bizarro-intro div {
    margin-right: 30px;
}
.bizarro-intro img {
    width: 100%;
    border-radius: 10px;
}
.milestones1 {
    text-align: center;
}
.milestones2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.milestones2 p {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
}
#arrow {
    width: 30px;
}
.dunkin1 {
    text-align: center;
}
.dunkin1 img {
    width: 50%;
}
.dunkin2 {
    flex-grow: calc(310/163)
}
.dunkin3 {
    flex-grow: calc(325/155)
}
.dunkin4 {
    flex-grow: calc(404/316);
}
.dunkin5 {
    flex-grow: calc(644/418);
}
.ads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.ads div {
    /* flex-basis: 0px; */
    flex-shrink: 1;
    margin: 10px;
}
.ads img {
    /* display: block; */
    height: auto;
    width: 100%;
}
.ad1 {
    flex-grow: calc(357/200); 
}
.ad2 {
    flex-grow: calc(400/200);
}
.ad3 {
    flex-grow: calc(357/200);
}
.ad4 {
    flex-grow: calc(389/200);
}
.ad5 {
    flex-grow: calc(356/200);
}
.ad6 {
    flex-grow: calc(356/200);
}
.ad7 {
    flex-grow: calc(300/388);
}
.ad8 {
    flex-grow: calc(178/454);
}
.bizarro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bizarro div {
    flex-basis: 0px;
    flex-shrink: 1;
    margin: 50px;
}
.bizarro img {
    display: block;
    height: auto;
    width: 100%;
}

.bizarro1 {
    flex-grow: calc(1560/1042);
}
.bizarro2 {
    flex-grow: calc(9000/4800);
}
.bizarro3 {
    flex-grow: calc(6720/4248);
}
.bizarro4 {
    flex-grow: calc(935/569);
}
.bizarro5 {
    width: 100%;
}


/* portfolio-zine */
.zine-intro {
    display: flex;
    flex-direction: row;
}
.zine1 {
width: 75%;
margin: 50px;
margin-top: 0px;
}
.zine2 {
    width: 100%;
    margin-bottom: 100px;
}


/* art auction app */
.art-app1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.intro-img {
    width:50%;
    margin: 20px;
}
.art-app1 img {
    width: 100%;
}
.overview {
    display: flex;
    flex-direction: row;
}
.overview div {
    margin: 20px;
    text-align: left;
}
.design-process {
    width: 100%;
}
.persona {
    display: flex;
    flex-direction: row;
}
.persona img {
    width: 75%;
    border: black solid;
}

.description img {
    width: 100%;
}
.wireframes {
    display: flex;
    flex-direction: row;
}
.wireframes p {
    margin-left: 50px;
}
.digital-wireframes {
    width: 50%;
}



/* steel stacks */
.photos {
    text-align: center;
}
.photos img {
    margin-bottom: 10px;
}
.horizontal {
    width: 75%;
}
.vertical {
    width: 50%;
}

/* footer */
footer {
    background-color: #000A60;
    color: white;
    margin-top: auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
footer ul {
    list-style-type: none;
}
footer li {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin: 10px;
}

footer a {
    color: inherit;
    text-decoration: none;
}
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email img {
    height: 20px;
    padding-right: 10px;

}
.linkedin img {
    width: 100px;
    height: auto;

}
footer .right {
    padding-right: 50px;
}