/* header */
header {
    background-color: #000A60;
    margin: 0px;
    height: 100px; 
    display: flex;
    flex-direction: row;
}
.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
header li {
    padding: 0 40px;
    color: white; 
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: none;
    font-size: 20px;
}
header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
header li:hover{
    font-size: 22px;
}
.page-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
header h1 {
    color: white;
}

/* home image */
.home-img {
    background-image: url("");
}

/* home featured section */
#featured h2 {
    text-align: center;
}
.featured-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.featured-portfolio img {
    border: 2px solid black;
    border-radius: 10px;
    width: 322px;
    margin: 30px;
    margin-bottom: 10px;
}
.featured-portfolio p {
    text-align: center;
}
.featured-portfolio img:hover {
    width: 330px;
}
/* portfolio page */
.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.portfolio img {
    border: 2px solid black;
    border-radius: 10px;
    width: 322px;
    margin: 30px;
    margin-bottom: 10px;

}
.portfolio p {
    text-align: center;
}



/* footer */
footer {
    background-color: #000A60;
    height: 150px;
}